/* header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
nav {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}
nav a.active,
nav a.active:hover {
    background-color: #333;
    color: #fff;
}
nav a:hover {
    background-color: #333;
    color: #fff;
}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #f2f2f2;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.dropdown-content a {
color: black;
padding: 10px 16px;
text-decoration: none;
display: block;
}
.dropdown-content a:hover {
background-color: #ddd;
}
.dropdown:hover .dropdown-content {
display: block;
}
.back-button {
    display: inline-block;
    background-color: #c0bebe;
    font-size: 30px;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .back-button:hover {
    background-color: #aaa;
    cursor: pointer;
  }
   */